.title {
    text-align: center;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    background-color:rgb(72, 241, 109);
    /* border: 1px solid black; */
}
.content {
    background-color: lightblue;
}
.content table{
    width: 100%;
    text-align: center;
    border-right:1px solid orange;
    border-bottom: 1px solid orange;
}
.content td,th{
    border-left:1px solid orange;
    border-top: 1px solid orange;
    height: 32px;
    line-height: 32px;
}